@model AllPropertyQueryModel


<form method="get">
    <div class="row mb-5">
        <div class="form-group col-md-3">
            <label asp-for="Keyword"></label>
            <input asp-for="Keyword" class="form-control">
        </div>
    </div>

    <div class="row mb-5">
        <div class="form-group col-md-3">
            <label asp-for="Location"></label>
            <input asp-for="Location" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Search Property" />
    </div>
</form>



<div class="row">
    @foreach (var item in Model.Properties)
    {
        <div class="col-md-4">

           <div class="card mb-3">

             @{
                var base64 = Convert.ToBase64String(item.Images[0]);
                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
             }

             <img class="card-img-top" src="@imgSrc">
             <div class="card-body text-center">
                <h5 class="card-title text-center">@item.Price EUR</h5>
                <p class="card-text">@item.PropertyType</p>
                <p class="card-text">@item.District</p>
                <p class="card-text">@item.Description</p>
                <a asp-controller="Properties" asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">View More</a>
             </div>
           </div>
        </div>
    }
</div>
