@model AllPropertyQueryModel


<form method="get">

    <div class="row">
        <div class="form-group col-md-2">
            <label asp-for="Keyword"></label>
            <input asp-for="Keyword" class="form-control">
        </div>
        <div class="form-group col-md-2">
            <label asp-for="DistrictId"></label>
            <select asp-for="DistrictId" class="form-control">
                <option value="">All</option>

                @foreach (var district in Model.Districts)
                {
                    <option value="@district.Id">@district.Name</option>

                }
            </select>
        </div>

        <div class="form-group col-md-2">
            <label asp-for="BuildingTypeId"></label>
            <select asp-for="BuildingTypeId" class="form-control">
                <option value="">All</option>

                @foreach (var buildingType in Model.BuildingTypes)
                {
                    <option value="@buildingType.Id">@buildingType.Name</option>

                }
            </select>
        </div>
        <div class="form-group col-md-2">
            <label asp-for="PropertyTypeId"></label>
            <select asp-for="PropertyTypeId" class="form-control">
                <option value="">All</option>

                @foreach (var propertyType in Model.PropertyTypes)
                {
                    <option value="@propertyType.Id">@propertyType.Name</option>

                }
            </select>
        </div>
        <div class="form-group col-md-2">
            <label asp-for="MinPrice"></label>
            <input asp-for="MinPrice" class="form-control">
        </div>
        <div class="form-group col-md-2">
            <label asp-for="MaxPrice"></label>
            <input asp-for="MaxPrice" class="form-control">
        </div>
        <div class="form-group col-md-2">
            <label asp-for="MinSize"></label>
            <input asp-for="MinSize" class="form-control">
        </div>
        <div class="form-group col-md-2">
            <label asp-for="MaxSize"></label>
            <input asp-for="MaxSize" class="form-control">
        </div>
        <div class="form-group col-md-2">
            <label asp-for="MinYear"></label>
            <input asp-for="MinYear" class="form-control">
        </div>
        <div class="form-group col-md-2">
            <label asp-for="MaxYear"></label>
            <input asp-for="MaxYear" class="form-control">
        </div>
        <div class="form-group col-md-2">
            <label asp-for="MinFloor"></label>
            <input asp-for="MinFloor" class="form-control">
        </div>
        <div class="form-group col-md-2">
            <label asp-for="MaxFloor"></label>
            <input asp-for="MaxFloor" class="form-control">
        </div>
    </div>
    <div class="mb-3"></div>
    <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Search Property" />
    </div>
</form>

<div class="mb-5"></div>

<div class="row">
    @foreach (var item in Model.Properties)
    {
        <div class="col-md-4">

           <div class="card mb-3">

             @{
                var base64 = Convert.ToBase64String(item.Images[0]);
                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
             }

             <img class="card-img-top" src="@imgSrc">
             <div class="card-body text-center">
                <h5 class="card-title text-center">@item.Price EUR</h5>
                <p class="card-text">@item.PropertyType</p>
                <p class="card-text">@item.District</p>
                <p class="card-text">@item.Description</p>
                <a asp-controller="Properties" asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">View More</a>
             </div>
           </div>
        </div>
    }
</div>

<div class="mb-5"></div>

@{ 
    var previousPage = Model.CurrentPage - 1;

    if (previousPage < 1)
    {
        previousPage = 1;
    }

    var maxPage = Math.Ceiling((double)Model.TotalProperties / AllPropertyQueryModel.PropertiesPerPage);

}

<div class="row">
    <div class="col-md-6">
        <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)" 
           asp-controller="Properties" 
           asp-action="All" 
           asp-route-currentPage="@previousPage"
           asp-route-keyword="@Model.Keyword"
           asp-route-location="@Model.DistrictId"
           asp-route-buildingType="@Model.BuildingTypeId"
           asp-route-propertyType="@Model.PropertyTypeId"
           asp-route-minPrice="@Model.MinPrice"
           asp-route-maxPrice="@Model.MaxPrice"
           asp-route-minSize="@Model.MinSize"
           asp-route-maxSize="@Model.MaxSize"
           asp-route-minYear="@Model.MinYear"
           asp-route-maxYear="@Model.MaxYear"
           asp-route-minFloor="@Model.MinFloor"
           asp-route-maxFloor="@Model.MaxFloor"><<</a>
    </div>
    <div class="col-md-6">
        <a class="btn btn-primary float-right @(Model.CurrentPage == maxPage ? "disabled" : string.Empty)" 
           asp-controller="Properties" 
           asp-action="All" 
           asp-route-currentPage="@(Model.CurrentPage + 1)"
           asp-route-keyword="@Model.Keyword"
           asp-route-location="@Model.DistrictId"
           asp-route-buildingType="@Model.BuildingTypeId"
           asp-route-propertyType="@Model.PropertyTypeId"
           asp-route-minPrice="@Model.MinPrice"
           asp-route-maxPrice="@Model.MaxPrice"
           asp-route-minSize="@Model.MinSize"
           asp-route-maxSize="@Model.MaxSize"
           asp-route-minYear="@Model.MinYear"
           asp-route-maxYear="@Model.MaxYear"
           asp-route-minFloor="@Model.MinFloor"
           asp-route-maxFloor="@Model.MaxFloor">>></a>
    </div>
</div>





